.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background-color: rgb(247, 244, 244, 0.55);
}

@media (max-width: 400px) {
  .App footer {
    font-size: 6px;
  }
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: rgb(14, 77, 146);
}

/*For width smaller than 450px */
body {
  width: 100%;
  background-size: cover;
  background-image: url("acadia_sunset.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*For width 450px and larger */
@media only screen and (min-width: 450px) {
  body {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url("acadia_sunset.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
}
