.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background-color: rgb(247, 244, 244, 0.55);
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: rgb(14, 77, 146);
}

body {
  background-image: url("acadia_sunset.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
