.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

@media (max-width: 450px) {
  .WeatherForecast {
    font-size: 12px;
  }
}

@media (max-width: 280px) {
  .WeatherForecast .row {
    font-size: 12px;
  }
}
